In [5]:
import os
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Path to folder containing stock data
data_folder = "US_Stock_Data"

# Read and merge all CSV files
all_files = [os.path.join(data_folder, f) for f in os.listdir(data_folder) if f.endswith('.csv')]
df_list = []

for file in all_files:
    try:
        # Read CSV with multi-row header
        data = pd.read_csv(file, header=[0, 1], index_col=0, parse_dates=True)
        
        # Extract the ticker symbol from the second row of the header
        ticker = data.columns[0][1]  # Extract the ticker symbol (e.g., 'AAPL')
        
        # Rename columns to remove multi-index structure
        data.columns = data.columns.droplevel(1)
        data.reset_index(inplace=True)
        
        # Add a 'Ticker' column
        data["Ticker"] = ticker
        
        df_list.append(data)
    except Exception as e:
        print(f"Error reading {file}: {e}")

# Combine all stock data into one DataFrame
df = pd.concat(df_list, ignore_index=True)
df = df.sort_values(by=["Date", "Ticker"]).reset_index(drop=True)

In [9]:
display(df)
print(df.columns)
print(df.index)

Price,Date,Close,High,Low,Open,Volume,Ticker
0,2022-02-14,166.187180,166.876015,163.904165,164.701247,86185500,AAPL
1,2022-02-14,155.167007,158.448502,151.649994,151.751007,83230000,AMZN
2,2022-02-14,314.279999,320.429993,312.170013,319.609985,8129100,BRK-B
3,2022-02-14,135.036484,135.807690,132.775180,132.775180,34302000,GOOGL
4,2022-02-14,151.802277,153.974805,150.161411,153.736473,8967600,JNJ
...,...,...,...,...,...,...,...
7495,2025-02-10,717.400024,721.200012,711.330017,718.559998,12904300,META
7496,2025-02-10,412.220001,415.459991,410.920013,413.709991,20817900,MSFT
7497,2025-02-10,133.570007,135.000000,129.960007,130.089996,216989100,NVDA
7498,2025-02-10,350.730011,362.700012,350.510010,356.209991,77514900,TSLA
7499,2025-02-10,351.230011,351.899994,347.700012,348.700012,6067000,V

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'Ticker'], dtype='object', name='Price')
RangeIndex(start=0, stop=7500, step=1)

In [11]:
df.columns.name = None
df = df.reset_index(drop=True)
display(df.head())

        Date       Close        High         Low        Open    Volume Ticker
0 2022-02-14  166.187180  166.876015  163.904165  164.701247  86185500   AAPL
1 2022-02-14  155.167007  158.448502  151.649994  151.751007  83230000   AMZN
2 2022-02-14  314.279999  320.429993  312.170013  319.609985   8129100  BRK-B
3 2022-02-14  135.036484  135.807690  132.775180  132.775180  34302000  GOOGL
4 2022-02-14  151.802277  153.974805  150.161411  153.736473   8967600    JNJ

In [ ]:
df.